/* 

Journey Template 
http://www.templatemo.com/tm-511-journey

Primary color (light blue)  : #69c6ba
Highlight color (pink)      : #c66995
--------------------------------------

*/
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
    background: #e6e6e6;
}

a, button { transition: all 0.3s ease; }
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

p:last-child { margin-bottom: 0; }

.tm-page-wrap { 
    max-width: 1400px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    background: white;
}

.tm-container-outer {
    max-width: 1400px;
    margin: 0 auto;    
}

.tm-content-box { box-shadow: 0 0 3px rgba(0, 0, 0, 0.15); }
.tm-text-gray { color: #787676; }

.tm-text-highlight {
    color: #c66995;
    font-weight: 600;
}

.tm-bg-primary { background: #69c6ba; }
.tm-bg-highlight { background: #c66995; }

.btn-primary {
    background: #69c6ba;
    border: none;
    border-radius: 0;
    outline: none;
}

.btn-primary:hover { background: #c66995; }
.tm-top-bar .navbar-expand-lg .navbar-nav .nav-link { padding: 50px 35px; }

.tm-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: 119px;
    background: white;
}

.tm-top-bar.active {
    height: 60px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.tm-top-bar.active .navbar-expand-lg .navbar-nav .nav-link { padding: 20px 35px; }
.tm-top-bar.active .navbar-brand { font-size: 1.4rem; }

.tm-top-bar .navbar-brand img {
    width: 60px;
    height: auto;
}

.tm-top-bar.active .navbar-brand img { width: 40px; }
.tm-top-bar-bg { height: 119px; }
.tm-top-bar a { color: black; }

.navbar-brand {
    font-size: 2.2rem;    
    text-transform: uppercase;    
}

.navbar {
    font-weight: 700;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-link.active, .nav-link:hover { color: #69c6ba; }

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(104, 199, 187)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler { 
    border-color: rgb(104, 199, 187);
    border-radius: 0;
    cursor: pointer;
}

.tm-banner-title {
    font-size: 3rem;
    margin-bottom: 10px;
}
.tm-banner-subtitle {
    font-size: 1.5rem;
    margin-top: 10px;
    letter-spacing: 1px;
}

.tm-banner-header { color: white; }
.tm-banner-overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7);
}
.tm-banner-bg {
    background:  center top no-repeat;    
    min-height: 720px;
    position: relative;
}
.tm-banner-row { 
    position: relative;
    z-index: 100;
    justify-content: center;
    padding-top: 50px;
}
.tm-banner-row-header { text-align: center; }
.tm-down-arrow-link { 
    color: white;
    background-color: #69c6ba;
    border-radius: 50%;
    padding: 10px 15px;
    margin-top: 0px;
    display: inline-block;
}

.tm-down-arrow-link:hover,
.tm-down-arrow-link:focus {
    color: white;
    background-color: #c66995;
}

/* Search form */
/*select.tm-select.form-control:not([size]):not([multiple]) { height: 50px; }
/*.form-control {
    font-size: 0.9rem;
    padding: .0rem;
}*/
label { font-weight: 700; }
.tm-search-form {
    background-color: #f5f6f6;
    padding: 25px 25px 15px;
    width: 100%;
    max-width: 830px;
    margin-left: 15px;
    margin-right: 15px;
}

.tm-form-group { float: left; }
.tm-form-group-pad { padding: 0 8px; }
.tm-form-group-1 { width: 100%; }
.tm-form-group-2 { width: 50%; }
.tm-form-group-3 { width: 50%; }
.form-control { border-radius: 0; }

.tm-btn {
    cursor: pointer;
    display: inline-block;
    font-size: 0.85rem;
    font-weight: 400;  
    padding: 12px 20px;
}

.tm-btn-white { background: white; }
.tm-btn-white-primary { color: #69c6ba; }
.tm-btn-white-highlight { color: #c66995; }

.tm-btn-white-primary:hover,
.tm-btn-white-primary:focus,
.tm-btn-white-primary:active {
    background: #c66995;
    color: white;
}

.tm-btn-white-highlight:hover,
.tm-btn-white-highlight:focus,
.tm-btn-white-highlight:active {
    background: #69c6ba;
    color: white;
}

.tm-btn-search { width: 100%; }

.tm-btn-search:hover,
.tm-btn-search:active,
.tm-btn-search:focus {
    background: #c66995;
}


.tm-position-relative { position: relative; }

.slick-prev, .slick-next {
    width: 50px;
    height: 50px;
}

.slick-prev, .slick-next,
.slick-prev:focus,
.slick-prev:active,
.slick-next:focus,
.slick-next:active {
    background: rgba(0,0,0,0.5);    
}

.slick-prev:before, .slick-next:before { font-size: 22px; }

.slick-prev:hover,
.slick-next:hover {
    background: #69c6ba;
}

.tm-slideshow-highlight .slick-prev:hover, 
.tm-slideshow-highlight .slick-next:hover {
    background: #c66995;
}

.slick-prev {
    left: auto;
    right: 95px;
    z-index: 1000;
}

.tm-right .slick-prev {
    left: 42px;
    right: auto;
}

.slick-next { right: 42px; }

.tm-right .slick-next {
    right: auto;
    left: 94px;
}




footer {
    background: #69c6ba;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;    
    font-size: 0.8rem;
}

footer a { color: #fff; }

footer a:hover { color: #900; }

footer p { color: white; }

.tm-footer-text-highlight {
    color: white;
    font-weight: 600;
}

.tm-footer-text-highlight:hover { color: #c66995; }

.tm-contact-form {
    background: white;
    width: 470px;
    position: absolute;
    top: 100px;
    right: 100px;
    padding: 20px;
    z-index: 1000;
}

.form-control {
    background-color: #f5f5f5;
    border: none;


}

.form-control:focus {
    border-color: #69c6ba;
    box-shadow: 0 0 0 0.1rem #69c6babf;
}

.tm-name-container,
.tm-email-container {
    width: 210px;
    float: left;    
}

.tm-email-container { margin-left: 10px; }

.tm-btn-send {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
}

